.navbar {
    background-color: #f5f5f5;
    padding: .25rem 0.25rem;
}

.footer {
    background-color: #f5f5f5;
}
.firstView {
    height: 100vh;
}

.carousel-item {
    top: 0;
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/** Appartment Styling **/

.appartment {
    background-color: #f5f5f5;
    margin: auto;
    padding-top: 20px;
    
    
}

/** Rates Styling **/

.rates {
    min-height: 100vh;
}

div.row>div>div.row {
    margin-bottom: 15px;
}

/** Place anchors below Nav **/


/** Spacer **/

.h2-spacer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid #65c5fe;
    width: 50px;
}
