@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto&display=swap');

.navbar {
    background-color: #f5f5f5;
    padding: .25rem 0.25rem;
}

.footer {
    background-color: #f5f5f5;
    position: relative;
    bottom: 0;
    width: 100%;
}

.firstView {
    height: 85vh;
}

.carousel-item {
    top: 0;
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Indie Flower', cursive;
}

.boxShade {
    background-color: rgba(0, 0, 0, 0.15);
}

/** Padding for in-page ID-Links **/

.scrollpad {
    padding-top: 85px;
}

/** Page Styling **/

.appartment {
    background-color: #f5f5f5;
    margin: auto;
    padding-bottom: 15px;
}

.paddingSurf {
    padding-bottom: 15px;
}

/** Rates Styling **/

.rates {
    min-height: 85vh;
}

.table thead th {
vertical-align: top;
}


/** Spacer **/

.h2-spacer {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid #65c5fe;
    width: 50px;
}

/** Text on Picture **/

.toned-down {
    opacity: 0.3;
}

.pageHeader {
    padding-top: 25px;
}

/** Image Formatting **/

.maxwidth100 {
max-width:100%;
}


/** Buttons **/

.btn-info {
    color: #fff;
    background-color: #65c5fe;
    border-color: #65c5fe;
}

/** Text Styling **/

.linkBlue {
    color: #65c5fe;
    text-decoration: none;
    background-color: transparent;
}

/** Flipbox https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_image2 **/

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    -webkit-perspective:1000;
    -moz-perspective:1000;
    -ms-perspective:1000;
    -o-perspective:1000;
    perspective: 1000px;
}

.activityBoard {
    width:300px;
    height:200px;
}

/** Source of this idea: https://www.tutorialrepublic.com/faq/how-to-position-text-over-an-image-using-css.php **/

.flip-box .text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%;
    /* Set the width of the positioned div */
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;  
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
}

.flip-box-front {
    background-color: #bbb;
    color: #000;
}

.flip-box-back {
    background-color: #555;
    color: #fff;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center
}
</style>